.article {
    padding: 20px;
    background-color: gray;
    margin: 0;
    border-style: dotted;
    border-color: palevioletred;
    font-family: 'Courier New', Courier, monospace;
}
.section {
    line-height: 1.1em;
}